# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment variables
.env
.env.local

# Virtual Environments
venv/
.venv/
env/
.env/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Data & Models
Data/raw/
*.sqlite
*.db
knowledge/raw/

# Testing
.pytest_cache/
coverage.xml
htmlcov/
.coverage
.tox/
.nox/
